.header__logo {
  max-width: 142px;
  width: 142px;
  height: 33px;
  /*align-self: center;*/
}

@media all and (max-width: 924px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media all and (max-width: 768px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
/*
@media all and (max-width: 640px) {
  .header__logo {
  }
}*/