.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: calc(11/9);
  font-weight: 400;
  max-width: 880px;
  margin: 67px auto 0;
  padding-bottom: 56px;
}

@media all and (max-width: 920px) {
  .footer__copyright {
    margin: 48px 0 0 19px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 36px;
  }
}