.profile__info {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  align-self: end;
}

@media all and (max-width: 735px) {
  .profile__info {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-content: center;
    margin-top: 26px;
  }
}
